@charset "utf-8";

body {
    margin: 0;
}

p {
    font-size: 110%;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 140%;
    border-bottom: 1px dashed #CE8088;
    border-left: 10px solid #CE8088;
    padding-left: 7px;

}

small {
    background-color: #c0c0c0;
}

article {
    clear: both;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.dummy {
    margin: 0;
}

article h1 {
    background-color: #FBDCD9;
    color: #333333;
    text-shadow: 0px 5px 10px #CE8088;
}

.purp {
    color: #990066;
    border-bottom: 1px solid #CE8088;
    border-top: 1px solid #CE8088;
    border-left: 1px solid#CE8088;
    border-right: 1px solid #CE8088;
    padding-left: 1px;
}

.address {
    color: #990066;
}

.zen-maru-gothic-light {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zen-maru-gothic-medium {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.zen-maru-gothic-bold {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.zen-maru-gothic-black {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 900;
    font-style: normal;
}

footer {
    text-align: center;
    background-color: #FBDCD9;
    color: #32252f;
    padding-top: 10px;
    padding-bottom: 10px;
}

article {
    position: relative;
}

.catch {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #32252f
}

.subtitle {
    text-shadow: 0px 5px 10px #db8f95;
}

header {
    background-color: #FBDCD9;
    color: #CE8088;
}

ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 100%;
    line-height: 1.8;
}

ul time {
    background-color: #CE8088;
    color: #ffffff;
    border-radius: 5px;
    font-size: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

nav ul {
    font-weight: 700;
    text-align: right;
    padding-top: 77px;
    padding-bottom: 15px;
    margin: 0;
}


nav li {
    display: inline;
    padding-left: 10px;
    padding-right: 12px;
    border-right: 1px solid #ffffff;
}

header img {
    float: left;
}

.header-in {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.sub-h1 {
    background: linear-gradient(to left, #ffffff, #FBDCD9);
    color: #333333;
    padding-top: 5px;
    padding-left: 10px;
}

.point-list {
    list-style-image: url(../image/list.gif);
    margin-left: 30px;
    font-weight: bold;
}

.point-img{
	box-shadow: 0px 0px 10px 3px #aaaaaa;
	border-radius: 10px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;

}

.sentou {
    clear: both;
    text-align: right;
}

ol li {
    display: inline;
    margin-right: 5px;
    font-size: 80%;
}

ol {
    padding-left: 0px;
}

nav ul a{
    text-decoration: none;
    color: #CE8088;
}

nav ul a:link {color: #CE8088;}

nav ul a:visited {color: #333333;}

nav ul a:hover {color: #990066;}

nav ul a:active {color: #ffffff;}



.chi-san {
    float: left;
}

.miso {
float: right;
}

table {
    border: 1px solid #333333;
    font-size: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th {
    background-color: #FBDCD9;
    border: 1px solid #333333;
    padding: 10px;
    width: 20%;
}

td {
    border: 1px solid #333333;
    padding: 10px;
}





/* 959px以下の場合 */
@media(max-width:959px) {
    header img {
        float: none;
    }

    nav ul {
        text-align: left;
        padding: 0;
        margin-left: 10px;
    }

    article {
        width: auto;
    }

    article img {
        max-width: 100%;
        height: auto;
    }

    .header-in {
        width: auto;
    }
}

/* 600px以下の場合 */
@media (max-width:600px) {
    nav li {
        font-size: 75%;
        padding-left: 2px;
        padding-right: 2px;
    }

    footer {
        font-size: 75%;
    }

    .catch {
        top: 5px;
        left: 10px;
    }

        .point-img {
        float: none;
    }

}